.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading {
    margin-bottom: 16px;
}

.tableDiv {
    width: 60%
}

table, th, td {
    border: 1px solid;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td {
    text-align: center;
}