.table_background {
  display: flex;
  background-color: white;
  margin-left: 3vw;
  margin-right: 3vw;
  margin-bottom: 10vh;
  margin-top: 5vh;
  box-shadow: 0px 0px 10px rgba(114, 114, 113, 0.5);
  border-radius: 30px;
}

table {
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;
  border-collapse: collapse;
  width: 100%;
  border-radius: 30px;
  border-collapse:separate; 
  border-spacing:5em;
}


th {
  font-size: 18px;
  text-align: left;
  padding: 20px 20px 20px 20px;
}

td {
  padding: 8px 8px 8px 20px;
}

tr {
  background-color: #ffffff;
}

tr:not(:first-child):hover {
  background-color: #0000ff;
} ;
